/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Global values */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* navbar area */
.navbar{
    padding: 5px 7%;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.nav-item{
    margin: 5px 15px;
}
.nav-item a{
    font-size: 18px;
}

/* Categories area*/

.cate{
    list-style: none;
    flex-wrap: wrap;
  
}
.cate li{
    margin: 0 ;
    padding: 5px 20px;
    background-color: floralwhite;
    border-left: 1px solid lightgray;
}
.cate li a{
    color: #242424;
}

/* Hero area */
#hero-area{
    margin-top: 50px;
    padding: 10px 7%;
}
.hero-text {
    line-height: 30px;
}
.hero-text h1{
    font-size: 70px;
    font-weight: 600;
    color: #333;
}
.hero-text p{
    font-size: 30px;
    font-weight: 500;
    color: grey;
}
